:root {
  --primary-link-color: #db976d;
  --primary-text-color: rgb(6, 17, 39);
  --secondary-text-color: #f2f2fc;
}


body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252424;
  margin: 0 auto;
  padding: 1rem; 
  text-align: center;
  box-sizing: border-box;
}

a {
  color: var(--primary-link-color);
  text-decoration: none;
}

#main-container {
  max-width: 100%;
  height: auto; 
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 1rem;
}

#info-text {
  background: #1e1e1e; 
  font-family: 'Fira Code', 'Courier New', monospace;
  text-align: left;
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.6;
  max-width: 100%;
  margin: 1.5rem auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#info-text .tag {
  color: #569cd6; 
}

#info-text .content {
  color: #ce9178; 
  margin-left: 1rem;
}


#header {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

#nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#nav-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#nav-links li {
  margin: 0;
}

#nav-links a {
  font-weight: 500;
  color: #ffc164;
  text-decoration: none;
  transition-duration: 0.5s;
}


#nav-links a.active {
  font-weight: 700;
}

#links svg {
  height: 24px; 
  width: 24px;
  padding: 1rem;
  transition-duration: 0.5s;
  color: var(--primary-link-color);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.divider {
  margin: 1rem 0;
  height: 1px;
  background-color: #444;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#courses {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

.course {
  font-weight: 600;
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 0.5rem;
  flex: 1 1 80px;
  max-width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(164, 160, 153);
  color: var(--primary-text-color);
  transition-duration: 0.5s;
  border-radius: 5px;
}

.course:hover {
  background-color: rgb(227, 162, 88);
  padding: 1.5rem;
}

.course.complete {
  background-color: rgb(234, 166, 104);
  cursor: pointer;
}

.course a {
  color: var(--primary-text-color);
  font-weight: 700;
}

/*MEDIA QUERIES DESKTOP*/

@media (min-width: 769px) {
  body {
    padding: 2rem;
  }

  #main-container {
    max-width: 1600px;
    height: 100vh;
    padding: 2rem;
  }

  #header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #nav-links ul {
    gap: 1rem;
  }

  #nav-links a:hover {
    font-size: 1.5rem;
  }

  #links svg {
    height: 4%;
    width: 4%;
    padding: 2rem;
  }

  #links svg:hover {
    height: 5%;
    width: 5%;
  }

  #courses {
    max-width: 60%;
    gap: 2rem;
  }

  .course {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    font-size: 0.8rem;
  }
}